body{
    background-color: rgb(28, 28, 28);
    color: rgb(206, 206, 206);
}

.row{
    text-align: justify;
}

.video-container{
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    top: 0;
    z-index: -1;
}

.background-video{
    object-fit:cover;
    overflow: auto;
    width: 100%;
    height: 100%;
    top: 0%;
    left: 0%;
    right: 0%;
    
    
}

.container{
    height: 100%;
    width: 50%;
    z-index: -1;
}